.page { /*font-family: 'times', serif;*/ font-family: sans-serif; background-color: rgb(120, 220, 220); }

/* These are the settings for the colors and decorations for the website's links. * * The text-decoration can be set to none, underline, line-through or overline. */ 

a:link { color: rgb(120, 120, 120); text-decoration: none; } 

a:active { color: rgb(120, 120, 120); text-decoration: none; } 

a:visited { color: rgb(120, 120, 120); text-decoration: none; } 

a:hover { color: rgb(114,195,103); text-decoration: none; }

/* This entry affects the navigational text positioned under your logo. The main * nav links are the top row and the second nav links are the bottom row. * * The font-size is how big the text is displayed on the screen. For the web, it * not recommended to go below 12px or 14px and for the site, we'd recommend a * setting no larger than 20px. * * The font-weight is how bold the text is. It can be set from 100 (the lightest) * to 900 (the thickest). */ 

.mainNavLink { font-size: 16pt; font-weight: 600; font-style: normal; }

.secondNavLink { font-size: 16pt; font-weight: 600; font-style: normal; }

/* These entries affect the symbols located between the navigational text. * * We'd recommend that the font-size be set no larger than 20px. */ 

.mainDelimiter { font-size: 14pt; font-weight: 600; font-style: normal; }

.secondDelimiter { font-size: 14pt; font-weight: 600; font-style: normal; }

/* This entry affects the text positioned next to your logo. The text is * enable/disabled in the Aloha Enterprise's MemberLink Configuration menu option. * * We'd recommend that the font-size be set no larger than 40px. */ 

#titleText { font-size: 30px; font-weight: 800; color: rgb(0,0,0); }
/* This entry affects the instructional text located at the top of each page. The text * is enable/disabled in the Aloha Enterprise's MemberLink Configuration menu option. * * The text-align setting can be left, right or center; */ 

#instructionalText { font-size: 22px; font-weight: 500; text-align: center; color: rgb(0,0,0); }
